@model List<Blogy.EntityLayer.Concrete.ContactInfo>
<div class="col-lg-4 mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
	<div class="contact-info">

		@foreach (var item in Model)
		{
			<div class="address mt-2">
				<i class="icon-room"></i>
				<h4 class="mb-2">Lokasyon:</h4>
				<p>@item.Location</p>
			</div>

			<div class="open-hours mt-4">
				<i class="icon-clock-o"></i>
				<h4 class="mb-2">Çalışma Saatlerimiz:</h4>
				<p>
					@item.OpenHours
				</p>
			</div>

			<div class="email mt-4">
				<i class="icon-envelope"></i>
				<h4 class="mb-2">Email:</h4>
				<p>@item.Email</p>
			</div>

			<div class="phone mt-4">
				<i class="icon-phone"></i>
				<h4 class="mb-2">Telefon:</h4>
				<p>@item.Call</p>
			</div>
		}	
	</div>
</div>