
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CheckEmail</title>
</head>
<body>
    <h3>Emalinize doğrulama linki gönderilmiştir linke tıklayarak hesabınızı doğruyalabilirsiniz.</h3>
</body>
</html>
