@model ResetPasswordViewModel

@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <div class="row">
        <h2>Şifre Yenileme Sayfası</h2>

    </div>
    <div class="row">
        <div class="col-sm-12">

            <form method="post">
                <label>Şifre Giriniz</label>
                <input type="password" class="form-control" asp-for="@Model.Password" />
                <br />

                <label>Şifre Tekrar Giriniz</label>
                <input type="password" class="form-control" asp-for="@Model.ConfirmPassword" />
                <br />
                <button class="btn btn-primary">Şifre Sıfırla</button>
            </form>
        </div>


    </div>
</div>
