@model UpdateAppRoleDto
@{
    ViewData["Title"] = "UpdateRole";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
	<div class="col-md-12 grid-margin stretch-card">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Rol Güncelle</h4>
				<p class="card-description"> Rol güncelleme işlemini buradan gerçekleştirebilirsiniz. </p>
				<form class="forms-sample" method="post">
					<input type="hidden" asp-for="@Model.Id" />
					<div class="form-group">
						<label>Rol Adı</label>
						<input type="text" class="form-control" value="@Model.Name" name="Name">
						<span asp-validation-for="@Model.Name" style="color:red;"></span>
					</div>
					<button type="submit" class="btn btn-gradient-primary mr-2">Kaydet</button>
					<a href="/Admin/Roles/Index" class="btn btn-light">İptal Et</a>
				</form>
			</div>
		</div>
	</div>
</div>