@{
	ViewData["Title"] = "Index";
	Layout = "~/Areas/Writer/Views/Shared/_WriterLayout.cshtml";
}

<div class="row">
	<div class="col-xl-12 grid-margin stretch-card">
		<div class="card card-calender">
			<div class="card-body">
				<div class="row pt-4">
					<div class="col-sm-6">
						<h1 class="text-white">10:16PM</h1>
						<h5 class="text-white">Monday 25 October, 2016</h5>
						<h5 class="text-white pt-2 m-0">Precipitation:50%</h5>
						<h5 class="text-white m-0">Humidity:23%</h5>
						<h5 class="text-white m-0">Wind:13 km/h</h5>
					</div>
					<div class="col-sm-6 text-sm-right pt-3 pt-sm-0">
						<h3 class="text-white">Clear Sky</h3>
						<p class="text-white m-0">London, UK</p>
						<h3 class="text-white m-0">21°C</h3>
					</div>
				</div>
				<div class="row mt-5">
					<div class="col-sm-12">
						<ul class="d-flex pl-0 overflow-auto">
							<li class="weakly-weather-item text-white font-weight-medium text-center active">
								<p class="mb-0">TODAY</p>
								<i class="mdi mdi-weather-cloudy"></i>
								<p class="mb-0">21<span class="symbol">°c</span></p>
							</li>
							<li class="weakly-weather-item text-white font-weight-medium text-center">
								<p class="mb-0">MON</p>
								<i class="mdi mdi-weather-hail"></i>
								<p class="mb-0">21<span class="symbol">°c</span></p>
							</li>
							<li class="weakly-weather-item text-white font-weight-medium text-center">
								<p class="mb-0">TUE</p>
								<i class="mdi mdi-weather-cloudy"></i>
								<p class="mb-0">21<span class="symbol">°c</span></p>
							</li>
							<li class="weakly-weather-item text-white font-weight-medium text-center">
								<p class="mb-0">WED</p>
								<i class="mdi mdi-weather-fog"></i>
								<p class="mb-0">21<span class="symbol">°c</span></p>
							</li>
							<li class="weakly-weather-item text-white font-weight-medium text-center">
								<p class="mb-0">THU</p>
								<i class="mdi mdi-weather-hail"></i>
								<p class="mb-0">21<span class="symbol">°c</span></p>
							</li>
							<li class="weakly-weather-item text-white font-weight-medium text-center">
								<p class="mb-0">FRI</p>
								<i class="mdi mdi-weather-cloudy"></i>
								<p class="mb-0">21<span class="symbol">°c</span></p>
							</li>
							<li class="weakly-weather-item text-white font-weight-medium text-center">
								<p class="mb-0">SAT</p>
								<i class="mdi mdi-weather-hail"></i>
								<p class="mb-0">21<span class="symbol">°c</span></p>
							</li>
							<li class="weakly-weather-item text-white font-weight-medium text-center">
								<p class="mb-0">SUN</p>
								<i class="mdi mdi-weather-cloudy"></i>
								<p class="mb-0">21<span class="symbol">°c</span></p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
    <div class="col-sm-12 mt-3">
        <h4><b>İstatistikler Hızlı Bakış</b></h4>
        <hr />
    </div>
    <div class="col-12 col-lg-12 stretch-card grid-margin">
            <div class="col-3 stretch-card grid-margin grid-margin-sm-0 pb-sm-3">
                <div class="card bg-warning">
                    <div class="card-body px-3 py-4">
                        <div class="d-flex justify-content-between align-items-start">
                            <div class="color-card">
                                <p class="mb-0 color-card-head">Blog Sayım</p>
                                <h2 class="text-white">
                                    @ViewBag.blogcount
                                </h2>
                            </div>
                            <i class="card-icon-indicator mdi mdi-basket bg-inverse-icon-warning"></i>
                        </div>
                        <h6 class="text-white">Tüm zamanlar</h6>
                    </div>
                </div>
            </div>
            <div class="col-3 stretch-card grid-margin grid-margin-sm-0 pb-sm-3">
                <div class="card bg-danger">
                    <div class="card-body px-3 py-4">
                        <div class="d-flex justify-content-between align-items-start">
                            <div class="color-card">
                                <p class="mb-0 color-card-head">Yorum Sayım</p>
                                <h2 class="text-white">
                                    @ViewBag.commentcount
                                </h2>
                            </div>
                            <i class="card-icon-indicator mdi mdi-cube-outline bg-inverse-icon-danger"></i>
                        </div>
                        <h6 class="text-white">Tüm zamanlar</h6>
                    </div>
                </div>
            </div>
            <div class="col-3 stretch-card grid-margin grid-margin-sm-0 pb-sm-3 pb-lg-0 pb-xl-3">
                <div class="card bg-primary">
                    <div class="card-body px-3 py-4">
                        <div class="d-flex justify-content-between align-items-start">
                            <div class="color-card">
                                <p class="mb-0 color-card-head">Gelen Mesaj</p>
                                <h2 class="text-white">
                                    @ViewBag.incomingmessagecount
                                </h2>
                            </div>
                            <i class="card-icon-indicator mdi mdi-briefcase-outline bg-inverse-icon-primary"></i>
                        </div>
                        <h6 class="text-white">Tüm zamanlar</h6>
                    </div>
                </div>
            </div>
			<div class="col-3 stretch-card grid-margin grid-margin-sm-0 pb-sm-3 pb-lg-0 pb-xl-3">
                <div class="card bg-success">
                    <div class="card-body px-3 py-4">
                        <div class="d-flex justify-content-between align-items-start">
                            <div class="color-card">
                                <p class="mb-0 color-card-head">Giden Mesaj</p>
                                <h2 class="text-white">
								@ViewBag.sendmessagecount
                                </h2>
                            </div>
						<i class="card-icon-indicator mdi mdi-message-text bg-inverse-icon-primary"></i>
                        </div>
                        <h6 class="text-white">Tüm zamanlar</h6>
                    </div>
                </div>
            </div>
            
    </div>
    
</div>
<div class="row">
	@await Component.InvokeAsync("_DashboardMyBlogsComponent")
	<div class="col-4 grid-margin stretch-card">
		@await Component.InvokeAsync("_DashboardChartComponent")

	</div>
</div>


