@model List<ResultCommentDto>
@{
    ViewData["Title"] = "BlogComments";
    Layout = "~/Areas/Writer/Views/Shared/_WriterLayout.cshtml";
    int count = 0;
}
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Bloglarım</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Kullanıcı</th>
                                <th>Tarih</th>
                                <th>Yorum</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                count++;
                                <tr>
                                    <td>@count</td>
                                    <td>@item.UserNameSurname</td>
                                    <td>@item.Date.ToShortDateString()</td>
                                    <td>@item.Message</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

