@model List<RolesViewModel>
@{
    ViewData["Title"] = "AddRole";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<h1>Kullanıcı Rolleri</h1>
<hr />

<form method="post">

    @for (int i = 0; i < Model.Count(); i++)
    {
        <div class="form-group">
            <input type="hidden" asp-for="@Model[i].Id" />
            <input type="hidden" asp-for="@Model[i].Name" />
            <input type="checkbox" asp-for="@Model[i].IsExist" />
            <label class="form-label">@Model[i].Name</label>
        </div>
    }
    <button type="submit" class="btn btn-primary">Güncelle</button>

</form>